<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable compression for assets -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/xml" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="text/xml" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- URL Rewrite for Vue Router SPA -->
    <rewrite>
      <rules>
        <!-- Don't rewrite actual files or directories -->
        <rule name="Vue Router Rule" stopProcessing="true">
          <match url="^(?!dist/).*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Static file cache expiration -->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      <!-- JavaScript MIME types -->
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <!-- Font MIME types -->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Prevent directory listing -->
    <directoryBrowse enabled="false" />

    <!-- Error logging and tracing -->
    <httpErrors errorMode="Detailed">
      <error statusCode="400" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="401" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="403" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="404" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="405" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="406" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="412" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="500" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="502" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
      <error statusCode="503" prefixLanguagePath="" path="C:\inetpub\custerr\en-US\" responseMode="File" />
    </httpErrors>

    <!-- Failed Request Tracing Rules -->
    <tracing>
      <traceFailedRequests>
        <traceFailedRequest path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:30" statusCodes="400-599" />
        </traceFailedRequest>
      </traceFailedRequests>
      <traceFailedRequestsLogging directory="%SystemDrive%\inetpub\logs\FailedReqLogFiles" maxLogFileSizeKB="65536" />
    </tracing>

    <!-- Request logging -->
    <httpLogging dontLog="false" />
  </system.webServer>
</configuration>
